{% extends "core/base.html" %}
{% load static %}

{%block title %}Bienvenido{% endblock %}



{% block background %} {% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block content%}

{% block header%}
  <h1>Isabel Cristina Ruiz Buriticá</h1>
  <h4 class="subheading">Ingeniera de Sistemas</h4>
{% endblock%}      
<div style="text-align: justify;">
    <p>Hola mundo! Soy ingeniera de sistemas de la universidad del Valle.  Actualmente trabajo como desarrolladora web en Rady Consultores.
      Quiero ser una experta desarrolladora de Python y Django, también quiero ser experta en javascript, html5, css, en data science, en UX/UI,
      y quiero estudiar biologia, quiero aprender a cantar, quiero hablar inglés y japones, 
      quiero terminar la lista de libros <i>por leer </i> que escribí en el 2008 cuando salí del colegio,
      quiero sembrar mi propio jardín, pero amo demasiado dormir y eso se interpone entre mis sueños... </p>
    <br>
      <h4>Necesito practicar!!</h4>
</div>


{% endblock%}