{% extends 'base.html' %}
{% load bootstrap3 %}


{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card mb-4">
        <div class="card-body">
          <h2>Change password</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            <center>{% bootstrap_button "Change password" button_type="submit" button_class="btn-primary" %}</center>
            
            {% bootstrap_form_errors form layout='inline' %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
