{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h2>Sign Up</h2>
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            <center>{% bootstrap_button "Sign up" button_type="submit" button_class="btn-primary" %}</center>
            {% bootstrap_form_errors form layout='inline' %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
